.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  padding-bottom: 0.8em;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
}

.navbar__link {
  color: white;
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}